{% extends 'layout/access.html.twig' %}

{% block title %}Closed Signup{% endblock %}

{% block body %}
    <div class="row small-device my-5">
        <div class="col-xl-8 col-lg-10 col-12 mx-auto">
            <div class="fancy-container bx-d-sm-0 px-2 px-sm-3 py-1 text-center">
                <h1>Signup is currently closed!</h1>
            </div>
        </div>
    </div>
{% endblock %}