{% block title %}Email Change{% endblock %}

{% block body %}
    <h1>Hello, you requested and email change.</h1>
    <p>
        To change the account email click this <a href="{{ email_url }}">link</a>.
    </p>
    <p>
        If you didn't request the change of your email account please contact the staff.
    </p>
    <p>
        Cheers!
    </p>
{% endblock %}