
###> symfony/framework-bundle ###
symfony.lock
yarn.lock
postcss-loader@3
raw-loader@3
style-loader@1
.env
.env.local
.env.local.php
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
