{% extends "layout/tracker.html.twig" %}

{% block title %}
Info
{% endblock %}

{% block body %}
    <div class="row small-device mt-4 mb-5 justify-content-center">
        <div class="col-xl-9 col-lg-8 col-12 error center">
            <h1>{{ info }}</h1>
        </div>
    </div>
{% endblock %}