{% extends 'layout/tracker.html.twig' %}

{% block title %}Donation{% endblock %}

{% block body %}
    <div class="container px-d-sm-0">
        <div class="row small-device my-5">
            <div class="col-lg-8 col-md-10 col-12 mx-auto">
                <h1 class="text-center">Donations and Contributions</h1>
                <table class="alternate w-100">
                    <tbody>
                    <tr>
                        <th class="p-2">Overview</th>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <p>
                                <strong>The services of ADC are provided to you completely free</strong>. We are all volunteers working on this project in our free time.  People seem to be unaware of who is paying for all ADC services and why. Why is the simple answer, like a lot of other people we liked ADC a lot and wanted it to be back. Since so many people expressed similar feelings when we started the project assumption was that I will get not only verbal encouragement but practical help as well. Mainly but not lastly the financial part. Quite honestly, we cannot afford to run ADC out of our own pockets. So we truly require your help.<br>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="alternate w-100 mt-4">
                    <tbody>
                    <tr>
                        <th class="p-2">What you will NOT receive from donations</th>
                    </tr>
                    <tr>
                        <td class="p-3"><p><strong>But there are a few things you will not be getting regardless of how much you donate:</strong></p>
                            <span>
                <ul>
                  <li>Immunity from the rules</li>
                  <li>Superpowers</li>
                </ul>
                </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}