{% extends 'layout/tracker.html.twig' %}

{% block title %}Donation{% endblock %}

{% block body %}
    <div class="container px-d-sm-0">
        <div class="row small-device my-5">
            <div class="col-lg-8 col-md-10 col-12 mx-auto">
                <h1 class="text-center">Donations and Contributions</h1>
                <table class="alternate w-100">
                    <tbody>
                    <tr>
                        <th class="p-2">Overview</th>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <p>
                                <strong>The services of ADC are provided to you completely free</strong>. We are all volunteers working on this project in our free time.  People seem to be unaware of who is paying for all ADC services and why. Why is the simple answer, like a lot of other people we liked ADC a lot and wanted it to be back. Since so many people expressed similar feelings when we started the project assumption was that I will get not only verbal encouragement but practical help as well. Mainly but not lastly the financial part. Quite honestly, we cannot afford to run ADC out of our own pockets. So we truly require your help.<br>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="alternate w-100 mt-4">
                    <tbody>
                    <tr>
                        <th class="p-2">Donating</th>
                    </tr>
                    <tr>
                        <td class="p-3">
                            <p>
                                <strong>If you wish to support Asian DVD Club that will allow us to continue doing our best</strong>, consider a financial donation (due to high processing fees min. 20$ please). All contributions will only serve to cover expenses and if the excess is generated, to advertise and advance ADC.

                                But this is not the only way you can contribute to the Asian DVD Club. </p>
                            <p>We need capable people. Those who can help with coding (PHP), staff duties and moderation (you must have an idea where you will be useful and what you are good at), beta tester (someone with good knowledge of tracker & browser purpose and functionality), recruitment (must have multiple realistic ideas).<br>
                    </tr>
                    </tbody>
                </table>
                <table class="alternate w-100 mt-4">
                    <tbody>
                    <tr>
                        <th class="p-2">Perks and Privileges</th>
                    </tr>
                    <tr>
                        <td class="p-3"><span>You might ask yourself if helping ADC would get you special treatment. Cannot say special treatment but yes, it will be some perks.<br>
                <b>What do you get?</b> Keep in mind it's just icing on the cake, by all means, it is your decision to use the privileges or not use it. There are a few levels and they are being displayed next to your username or overlaying the right top corner of your avatar.
                <p><img class="valign-middle" src="/images/svg_donation/white-star.svg" alt="" width="22" height="22"/> is something you very unlikely to see. Sun is for the Hierarch - a person who rules or has authority in sacred matters. The dignitary who possesses this treasure has a limitless ratio, with permanent goldening of all torrents. Can never be banned or suspended.</p>
                <p><img class="valign-middle" src="/images/svg_donation/red-star.svg" alt="" width="20" height="20"/> rarity, Red Star is someone who has donated to ADC an equivalent of more than $500 (we accumpate donations over time, so it is the sum of all). It has permanent assignment. Member can never be banned.</p>
                <p><img class="valign-middle" src="/images/svg_donation/gold-star.svg" alt="" width="21" height="21"/> permanent for founding members who provided assistance in the early times of ADC or given to a member who had donated any amount to ADC to the term proportional to the amount of donation. (Example: Two weeks time with upload credit of 20 GB (max. 100 GB) for every $10 given). Also property of seedbox members.</p>
                <p><img class="valign-middle" src="/images/svg_donation/purple-star.svg" alt="" width="20" height="30"/> is property of the uploaders, in recognition of services provided to the community. Eagle holders have the status assigned permanently.</p>
                <p><img class="valign-middle" src="/images/svg_donation/blue-star.svg" alt="" width="21" height="21"/> given to member who are contributing their efforts to ADC. Blue Star shows appreciation for services you are giving, while you giving them.</p>
                </span> <strong>But there is more</strong>:
                            <ul>
                                <li>If you <b>donated even once your account will never be disabled</b> for inactivity, regardless of how much you had given.<br>
                                </li>
                                <li>Thirty minutes head start for all Star members on new torrents leeching. The tracker server will assign you a preferred peering when both a seed and a peer will help you–potentially–gain a higher download and upload speed by giving peers which are fastest and closest to you.</li>
                                <li>Although I have to mention here that you will get competition from new members with low ratio and seeders who have been in the swarm the least amount of time. (So they can build some ratio as well). Compared to everybody else, you will still have an advantage. </li>
                            </ul></td>
                    </tr>
                    </tbody>
                </table>
                <table class="alternate w-100 mt-4">
                    <tbody>
                    <tr>
                        <th class="p-2">Methods</th>
                    </tr>
                    <tr>
                        <td class="p-3"><p><strong>We accept two payment processors</strong></p>
                            <p><a href="./images/svg_donation/qrcode.png" target="_self"><img src="./images/svg_donation/PayPal.svg" alt=""/></a> <br>
                            <ul>
                                <li>PayPal you can donate by scanning the <a href="./images/svg_donation/qrcode.png" target="_self">linked QR code</a> with your smartphone (PayPal application has to be installed). This is the preferred method since it encounters the lowest fee possible. If you cannot use the phone contact the administrator,  we will provide you with the email for PayPal payments. If possible, choose ‘friends and family’ as a payee. If the memo field is available enter your ADC username if not, pm administrator with the date and the amount sent.</li>
                            </ul>
                            </p>
                            <p><a href="https://checkout.square.site/pay/6600c6d6-7ef3-45d2-9d17-f6fe95e37ad5"><img src="./images/svg_donation/square.svg" alt=""></a><br>
                            <ul>
                                <li> <a href="https://checkout.square.site/pay/6600c6d6-7ef3-45d2-9d17-f6fe95e37ad5">Square</a>, accepts all credit cards and GPay.
                                    If the memo field is available enter your ADC username if not, pm administrator with the date and the amount sent. </li>
                            </ul>
                            </p></td>
                    </tr>
                    </tbody>
                </table>
                <table class="alternate w-100 mt-4">
                    <tbody>
                    <tr>
                        <th class="p-2">What you will NOT receive from donations</th>
                    </tr>
                    <tr>
                        <td class="p-3"><p><strong>But there are a few things you will not be getting regardless of how much you donate:</strong></p>
                            <span>
                <ul>
                  <li>Immunity from the rules</li>
                  <li>Superpowers</li>
                </ul>
                </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}