.editormd {
    margin: 0 auto;
}
.editormd-html-preview *,
.editormd-preview-container * {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.editormd code,
.editormd-html-preview code,
.editormd-preview-container code {
    font-family: monospace !important;
}

.editormd-toolbar {
    min-height: auto;
    background: none;
    border-color: #999;
}
.editormd-toolbar-container {
    padding: 0;
    min-height: auto;
}
.editormd-menu > li > a {
    font-size: 11px;
    color: black;
    border-color: #999;
    -webkit-transition: none;
    transition: none;
}
.editormd-menu > li.divider {
    border-color: #999;
}
.editormd .CodeMirror pre {
    font-size: 11px;
}
.editormd {
    border-color: #999;
}
.editormd-menu > li.pull-right > a {
    margin-right: 3px;
}
.editormd .CodeMirror {
    border-color: #999;
}
.CodeMirror-activeline-background {
    background: #ffe9e9;
}
.editormd-preview-container {
    padding: 4px 12px !important;
}
.editormd-html-preview {
    padding: 0 !important;
    background: inherit !important;
}
.editormd-html-preview p code, .editormd-preview-container p code {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 11px;
    background: inherit;
    border: 0;
}
.markdown-body {
    color: #000 !important;
}

.editormd-menu > li > a.active,
.editormd-menu > li > a:hover {
    background: #D4CCA5;
    border-color: #777;
}