<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="../css/adc.css">
            <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
            <link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico"/>
        {% endblock %}
    </head>
    <body>
        <div class="logo"></div>
        <div class="outer mx-0 mx-lg-2 bx-d-lg-0">
            <div class="navigation d-flex justify-content-center flex-wrap">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <a href="/reset-password">Recover</a>
                <a href="/confirm_resend">Resend confirmation</a>
            </div>
            <div class="container px-d-sm-0">
        {% block body %}
        {% endblock %}
            </div>
        </div>
        <div class="footer">
            <p>Asian DVD Club | 2005-<script>document.write(new Date().getFullYear())</script></p>
        </div>
    </body>
    <div class="footer">
        <p><script type="text/javascript">
                function display_c(){
                    var refresh=1000;
                    mytime=setTimeout('display_ct()',refresh)
                }
                function display_ct() {
                    var x = new Date()
                    var x1=x.toUTCString();
                    document.getElementById('ct').innerHTML = x1;
                    tt=display_c();
                }
            </script></p>
        <body onload=display_ct();>
        <span id='ct' ></span>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        </body>
    </div>
    </body>

</html>
